.product-tile {
    border: 1px solid #e1e1e1;
    padding: 1rem;
    background-color: #e1e1e1;
    width: 32%;
    float: left;
    margin: 20px 10px;
}

.product-tile dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .product-tile form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0.7rem 0;
  }
  
  .product-tile .product-image {
    width: 100%;
    height: 500px;
  }
  
  .product-tile .tile-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .cart-button {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    margin-right: 5px;
    background: #f8f9fa;
    border: 3px solid green;
    border-radius: 4px;
  }

  .product-tile .product-rating {
    position: relative;
    bottom: 5px;
  }
  
  .fav-button {
    background: #f8f9fa;
    border: 3px solid #bd2105;
    border-radius: 4px;
  }
  